sudo: false

language: node_js

node_js:
  #- '0.10'
  #- '0.12'
  #- '4'
  #- '6'
  #- '8'
  #- '10'
  - '12'

branches:
  only:
    - master
    - travis-ci

before_install:
  - npm install
  - make zic && make
